@inject NavigationManager NavigationManager
@using System.Globalization

@* <div class="setup-card">
  <div class="setup-card-car">
    <h5>@CarName</h5>
  </div>
  <div class="setup-card-track">
    <h6>@TrackName</h6>
  </div>
  <div class="setup-card-name muted">
    <h6>"@Name"</h6>
  </div>
  <div class="setup-card-date muted">
    <h6>
      @Date.ToString("dddd dd MMMM yyyy",CultureInfo.CreateSpecificCulture("en-US"))
    </h6>
  </div>
  <div class="setup-card-buttons">
    <button type="button" class="btn btn-info" @onclick="@(()=>{NavigationManager.NavigateTo($"setup/{Id.ToString()}");})">Details</button>
    <button type="button" class="btn btn-outline-danger" @onclick="ClickDelete">Delete</button>
  </div>
</div> *@

<div class="setup-panel">
  <div class="setup-panel-car-name">@CarName</div>
  <div class="setup-panel-track-name">@TrackName</div>
  <div class="setup-panel-setup-name">"@Name"</div>
  <div class="setup-panel-setup-date">@Date.ToString("dddd dd MMMM yyyy",CultureInfo.CreateSpecificCulture("en-US"))</div>
  <div class="setup-panel-setup-buttons">
    <div class="setup-panel-details-button" @onclick="@(()=>{NavigationManager.NavigateTo($"setup/{Id.ToString()}");})">
      <span class="material-icons"> info </span>
      <div class="setup-panel-details-button-text">Details</div>
    </div>
    <div class="setup-panel-delete-button" @onclick="ClickDelete">
      <span class="material-icons"> delete_forever </span>
      <div class="setup-panel-delete-button-text">Delete</div>
    </div>
  </div>
</div>


@code
{
    [CascadingParameter]
    public AppData Data { get; set; }
    [Parameter]
    public Guid Id { get; set; }
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string CarName { get; set; }
    [Parameter]
    public string TrackName { get; set; }
    [Parameter]
    public string ImgURL { get; set; }
    [Parameter]
    public DateTime Date { get; set; }
    [Parameter]
    public EventCallback<Guid> OnClickDeleteButton { get; set; }

    private void ClickDelete() {
        OnClickDeleteButton.InvokeAsync(Id);
    }
}