@inject NavigationManager NavigationManager
@using System.Globalization

<div class="setup-card">
  <div class="setup-card-car">
    <h5>@CarName</h5>
  </div>
  <div class="setup-card-track">
    <h6>@TrackName</h6>
  </div>
  <div class="setup-card-name muted">
    <h6>"@Name"</h6>
  </div>
  <div class="setup-card-date muted">
    <h6>
      @Date.ToString("dddd dd MMMM yyyy",CultureInfo.CreateSpecificCulture("en-US"))
    </h6>
  </div>
  <div class="setup-card-buttons">
    <button type="button" class="btn btn-info" @onclick="@(()=>{NavigationManager.NavigateTo($"setup/{Id.ToString()}");})">Details</button>
  </div>
</div>

@code
{
    [Parameter]
    public Guid Id { get; set; }
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string CarName { get; set; }
    [Parameter]
    public string TrackName { get; set; }
    [Parameter]
    public string ImgURL { get; set; }
    [Parameter]
    public DateTime Date { get; set; }
    [Parameter]
    public EventCallback OnClickDeleteButton { get; set; }
}