@page "/tirecalc"

<h2>Tire pressure calculator</h2>

<EditForm Model="tireCalculator" OnValidSubmit="Calculate">
    <DataAnnotationsValidator />
    <div class="tire-calc-container">
        <div class="psi-kpa">
            <div class="kpa">
                <label class="text-secondary">kPA:</label>
                <InputNumber class="form-control" @bind-Value="tireCalculator.KPA" />
                <ValidationMessage For="@(()=>tireCalculator.KPA)" />
            </div>
            <div class="psi">
                <label class="text-secondary">PSI:</label>
                <input type="text" class="@PSIStyle" disabled value="@PSI" />
            </div>
        </div>
        <div class="recommendations-container">
            <div class="recommendations">
                <label class="text-secondary">Recommendations:</label>
                <input type="text" class="@PSIStyle" disabled value="@recommendations" />
            </div>
        </div>
    </div>
    <div class="tire-calc-buttons">
        <button class="btn btn-success" type="submit">Calculate</button>
    </div>
</EditForm>

@code
{
    private TireCalculator tireCalculator = new TireCalculator();
    private double PSI = 0.0;
    private string PSIStyle = "form-control";
    private string recommendations = String.Empty;

    private void Calculate(){
        if (tireCalculator.KPA == 0)
            return;

        const double multiplicator = 6.895;
        double result = Math.Round(tireCalculator.KPA / multiplicator, 2);
        
        if (result > 0 && result < 25.0)
        {
            PSIStyle = "form-control text-info";
            recommendations = $"increase tire pressure by {Math.Round((28 - result) * multiplicator, 0)} kPA";
        }
        else if (result >= 25.0 && result < 30.0)
        {
            PSIStyle = "form-control text-success";
            recommendations = "normal tire pressure";
        }else
        {
            PSIStyle = "form-control text-danger";
            recommendations = $"decrease tire pressure by {Math.Round((result - 28) * multiplicator, 0)} kPA";
        }

        PSI = result;
    }
}